@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);
  --neutral-grey-500: hsl(234, 12%, 34%);
  --neutral-grey-400: hsl(212, 6%, 44%);
  --neutral-white: hsl(0, 0%, 100%);
  --bg-white: hsl(0, 0%, 98%);
  --font-one: "Poppins", sans-serif;
  --font-color-100: hsl(250, 3%, 47%);
  --font-color-200: hsl(237, 12%, 34%);
  --font-color-300: hsl(250, 2%, 32%);
}

body {
  height: 100vh;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--bg-white);
}

main {
  width: 1100px;
  height: 40rem;
}

.hero-section {
  width: 100%;
  height: 10rem;
  text-align: center;
  font-family: var(--font-one);
  font-size: 15px;
}

.hero-section__motto {
  font-weight: 200;
  color: var(--font-color-100);
}

.hero-section__power {
  font-weight: 600;
  color: var(--font-color-200);
}

.hero-section__context {
  font-weight: 400;
  color: var(--font-color-300);
  font-size: 12px;
  width: 25rem;
  margin-inline: auto;
}

.service-section {
  width: 100%;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  align-items: center;
}

.service-section__item {
  border: none;
  width: 20rem;
  height: 12rem;
  border-radius: 10px;
}

.service-section__item:nth-child(2) {
  width: 20rem;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.service-section__content {
  font-family: var(--font-one);
  font-size: 15px;
  padding: 1rem 2rem 0rem;
  width: inherit;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #e1e4e8;
  height: 13rem;
  border-radius: 12px;
  position: relative;
}

.tent_01 {
  border-top: 5px solid var(--primary-cyan);
}

.tent_02 {
  border-top: 5px solid var(--primary-red);
}

.tent_03 {
  border-top: 5px solid var(--primary-orange);
}

.tent_04 {
  border-top: 5px solid var(--primary-blue);
}

.service-section__header {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--font-color-100);
  margin-bottom: 0.3rem;
}

.service-section__image {
  position: absolute;
  right: 1.5rem;
}

.service-section__paragraph {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--font-color-100);
  margin-bottom: 1.2rem;
}

footer {
  width: 100%;
}

.attribution {
  font-family: var(--font-one);
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries for Phone in 375px */
@media screen and (min-width: 374px) {
  body {
    height: 100dvh;
    min-height: 100dvh;
    padding-top: 25rem;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 17rem;
  }
  main {
    width: 375px;
    height: 50rem;
  }
  .hero-section {
    font-size: 10px;
    margin-bottom: 2rem;
  }
  .hero-section__power {
    margin-bottom: 1rem;
  }
  .hero-section__context {
    width: 15rem;
  }
  .service-section {
    display: flex;
    flex-direction: column;
    padding-top: 20rem;
    gap: unset;
  }
  .service-section__item:nth-child(2) {
    margin-top: 2rem;
    margin-bottom: 1rem;
    gap: 1rem;
  }
  .attribution {
    font-size: 12px;
    width: 14rem;
    margin-inline: auto;
  }
}

/* Media Queries for Phone in 500px */
@media screen and (min-width: 499px) {
  body {
    height: 100dvh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 10rem;
    padding-top: 10rem;
  }
  main {
    width: 500px;
    height: 70rem;
    padding-top: 13rem;
  }
  .hero-section {
    font-size: 12px;
  }
  .hero-section__context {
    width: 20rem;
  }
  .service-section {
    display: flex;
    padding-top: 25rem;
    flex-direction: column;
    gap: unset;
  }
  .service-section__item:nth-child(2) {
    margin-top: 2rem;
    margin-bottom: 1rem;
    gap: 1rem;
  }
}

/* Media Queries 800px */
@media screen and (min-width: 799px) {
  body {
    height: 100dvh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 10rem;
    padding-top: 10rem;
  }
  main {
    width: 800px;
    height: 75rem;
    display: grid;
    place-content: center;
    padding-top: 0;
  }
  .hero-section {
    height: 8rem;
    margin-bottom: 3rem;
  }
  .service-section {
    display: flex;
    padding-top: 25rem;
    flex-direction: column;
    gap: unset;
  }
  .service-section__item:nth-child(1) {
    margin-bottom: 0;
  }
  .service-section__item:nth-child(2) {
    width: 20rem;
    height: 26rem;
    display: block;
    margin-bottom: 2.5rem;
  }
  .tent_02 {
    margin-bottom: 1rem;
  }
  .attribution {
    font-size: 12px;
    width: 25rem;
    margin-inline: auto;
  }
}

/* Media Queries 1024px */
@media screen and (min-width: 1023px) {
  body {
    height: 100dvh;
    min-height: 100dvh;
  }
  main {
    width: 980px;
  }
  .hero-section {
    height: 9rem;
    font-size: 12px;
  }
  footer {
    width: 100%;
    margin-top: 1rem;
  }
}

/* Media Queries 1440px */
@media screen and (min-width: 1439px) {
  body {
    height: 100vh;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto;
    gap: 10rem;
  }
  main {
    width: 1200px;
    height: 45rem;
  }
  .hero-section {
    font-size: 20px;
    height: 10rem;
  }
  .hero-section__context {
    width: 35rem;
    font-size: 15px;
  }
  .service-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    padding-top: 0;
    gap: 2rem;
  }
  footer {
    width: 100%;
    margin-top: -5rem;
  }
}
